# Training and Testing Data

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df =pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/forest-fires/forestfires.csv')

In [4]:
df.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [7]:
y=df.temp
x=df.drop('temp',axis=1)
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
x_train.head()

     X  Y month  day  FFMC    DMC     DC   ISI  RH  wind  rain   area
466  6  5   mar  mon  87.2   15.1   36.9   7.1  45   5.8   0.0   3.18
228  4  6   sep  sun  93.5  149.3  728.6   8.1  26   3.1   0.0  64.10
319  5  4   sep  thu  92.8  119.0  783.5   7.5  28   6.3   0.0   4.41
293  7  6   jul  tue  93.1  180.4  430.8  11.0  28   5.4   0.0  86.45
340  2  5   sep  mon  91.6  108.4  764.0   6.2  44   2.2   0.0   3.93

In [8]:
x_train.shape

(413, 12)

In [9]:
y_train.shape

(413,)

In [10]:
x_test.head()

     X  Y month  day  FFMC    DMC     DC   ISI  RH  wind  rain   area
398  1  2   aug  sat  93.7  231.1  715.1   8.4  32   3.1   0.0   0.00
484  2  5   aug  sun  94.9  130.3  587.1  14.1  25   4.0   0.0  26.43
252  6  5   aug  wed  93.1  157.3  666.7  13.5  37   3.6   0.0   0.21
186  8  6   mar  sun  89.3   51.3  102.2   9.6  39   5.8   0.0   7.19
39   4  4   mar  tue  88.1   25.7   67.6   3.8  43   2.7   0.0   0.00

In [11]:
x_test.shape

(104, 12)

In [19]:
from sklearn.datasets import load_iris
iris=load_iris()
x,y=iris.data,iris.target
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.5,test_size=0.5)
y_test

array([0, 2, 0, 2, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 2, 1, 2, 2, 2, 2, 0,
       0, 2, 1, 0, 2, 0, 1, 2, 1, 0, 1, 2, 0, 1, 2, 2, 2, 0, 2, 2, 0, 0,
       0, 2, 2, 1, 0, 2, 1, 1, 2, 2, 0, 2, 1, 2, 1, 1, 2, 0, 2, 0, 0, 1,
       1, 0, 0, 1, 2, 0, 0, 1, 2])

In [20]:
y_train

array([1, 0, 2, 1, 1, 2, 0, 1, 1, 0, 1, 2, 2, 2, 2, 0, 1, 2, 1, 1, 0, 2,
       1, 0, 1, 2, 0, 0, 1, 2, 1, 0, 2, 0, 2, 1, 0, 1, 1, 1, 0, 2, 1, 1,
       2, 2, 0, 0, 1, 1, 1, 1, 0, 0, 0, 2, 1, 1, 0, 2, 0, 2, 1, 1, 1, 2,
       0, 2, 0, 2, 1, 1, 0, 2, 2])